body {background-image: url('you.jpg'); color: #d8965cff;background-size:cover; }
h1 {font-size: 20px;
font-family: georgia, sans-serif;}
h2 {font-size: 16px;
font-family: georgia, sans-serif;}
h3 {font-size: 16px;
font-family: georgia, sans-serif;}
u { color: rgb(203,241,223);}
a {color: #ee6d6dff;}
.glow {
    font-size: 48px;
    text-align: center;
    color: #dc0d0d; 
    text-shadow: 
        0 0 10px #dc0d0d,
        0 0 25px #dc0d0d,
        0 0 50px #dc0d0d,
        0 0 100px #dc0d0d;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes pulse {
0% { transform: scale(1); }
50% { transform: scale(1.05); }
100% { transform: scale(1); }
}